@model SIGAE.Web.Data.Entities.Administrativo.Institucion

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Institucion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPresupuestario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPresupuestario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vision)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
