@model SIGAE.Web.Data.Entities.Administrativo.Asesoria.Gira

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gira</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dependencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dependencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoARESEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoARESEP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
