@model SIGAE.Web.Data.Entities.Academico.Asignacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asignacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntajeObtenido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntajeObtenido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDisponibilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDisponibilidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
